<configuration>
    <!-- Global configuration for all Hibernate versions -->

    <!-- Appender for output FILE -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logg_mail_service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logg_mail_service.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS dd.MM} %-5level [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 1. Appender for output CONSOLE -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS dd.MM} %-5level [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>


    <!-- Spring (WEB) -->
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.boot.web.servlet" level="INFO"/>
    <logger name="org.springframework.boot.autoconfigure.web" level="INFO"/>

    <!-- Test (JUnit, MockMVC, Spring Test) -->
    <logger name="org.springframework.test" level="DEBUG"/>
    <logger name="org.junit" level="DEBUG"/>
    <logger name="org.mockito" level="DEBUG"/>

    <!-- Application packages -->
    <logger name="ru.aston.mailservice.controller" level="INFO"/>
    <logger name="ru.aston.mailservice.kafka" level="INFO"/>
</configuration>